
@{
    ViewData["Title"] = "ViewBagCalc";
}

<h2>ViewBagCalc</h2>
<div>Первое число: @ViewBag.Value1</div>
<div>Второе число: @ViewBag.Value2</div>
<div>Сумма: @ViewBag.value1 + @ViewBag.value2 = @ViewBag.add</div>
<div>Разность: @ViewBag.value1 - @ViewBag.value2 = @ViewBag.sub</div>
<div>Умножение: @ViewBag.value1 * @ViewBag.value2 = @ViewBag.mult</div>
<div>Деление: @ViewBag.value1 / @ViewBag.value2 = @ViewBag.div</div>