
@{
    ViewData["Title"] = "ViewDataCalc";
}

<h2>ViewDataCalc</h2>
<div>Первое число: @ViewData["Value1"]</div>
<div>Второе число: @ViewData["Value2"]</div>
<div>Сумма: @ViewData["Value1"] + @ViewData["Value2"] = @ViewData["add"]</div>
<div>Разность: @ViewData["Value1"] - @ViewData["Value2"] = @ViewData["sub"]</div>
<div>Умножение: @ViewData["Value1"] * @ViewData["Value2"] = @ViewData["mult"]</div>
<div>Деление: @ViewData["Value1"] / @ViewData["Value2"] = @ViewData["div"]</div>